.sideBar {
  height: 100vh;
  width: 10%;
  padding-top: 2%;
   position: sticky;
    top: 1px;
}
.sideBarBox {
  padding-top: 20px;
}

.sideBarBox .imgTitleDiv {
  width: 70px;
  height: 70px;
  margin: auto;
}
.sideBarBox .imgTitleDiv img {
  width: 70px;
  height: 50px;
  border-radius: 5px;
  padding-bottom: 5px;
  position: relative;
  right: 30px;
}

.sideBarBox .imgTitleDiv h3 {
  color: blue;
  text-transform: uppercase;
  }
  
  .sideBarBox .ButtonImg {
    display: flex;
  }
  
  .sideBarBox .list {
    margin-left: 20px;
  }
  
  .sideBarBox .list a {
    width: 100% !important;
    display: flex !important;
    text-decoration: none;
  }
  
  .sideBarBox .ListItemIcon {
    position: relative;
    top: 5px;
    min-width: 25;
    justify-content: "center";
    color: grey;
    /* opacity: 30%; */
    font-size: 40px;
    background-color: "theme.palette.sideBar.background";
  }
  
  .sideBarBox .Typography {
    color: grey;
    font-size: 13;
    font-weight: 500;
    font-family: "cairo";
  }
  

/* ////////////////////////////////// */
@media (min-width: 100px) and (max-width: 900px) {
  .sideBar {
    display: none;
    width: 95vw !important;
      position: fixed;
      animation: fadeInLeft;
      animation-duration: 1000ms;
      top: 90px;
      z-index: 9999999999999999999999999999999999999999;
    }
    
    .sideBar ul li a {
      padding: 0 5px;
  }
}
