@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Pixelify+Sans:wght@500&family=Roboto+Slab:wght@100;300&display=swap');
@import "primereact/resources/themes/lara-light-indigo/theme.css";

.app {
  font-family: 'Nerko One', cursive;
  font-family: 'Pixelify Sans', sans-serif;
  font-family: 'Roboto Slab', serif;
  position: relative;
}

:root {
  --main-color: rgba(21, 21, 56, 0.917);
  --babyBlue-color:#1cb5e0;
  --white-color: rgb(245, 241, 241);
  --grey-color: rgba(232, 229, 229, 0.806);
  box-sizing: border-box;
}


.layout {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: fit-content;
  /* overflow: hidden !important; */
}

.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop{
  background-color: rgba(255, 255, 255, 0.164) !important;
}
.main {
  width: 80vw;
  margin-top: 22px;
  position: relative;
  padding: 0px 24px;
  overflow: hidden !important;
}

.disable {
  display: inline-block !important;
}

.hidden {
  display: none !important;
}

/* table */

.header {
  text-align: center;
  color: #1cb5e0;
  font-style: italic;
  font: 50px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.noData {
  color: rgb(170, 92, 92);
  margin: auto !important;
  width: fit-content;
  padding-top: 20px;
}

.noData img {
  width: 50vw;
  height: 50vh;
}

.btn-primary {
  background-color: #1cb5e0 !important;
  color: white !important;
  border: transparent !important;
}
