.showModal {
    background-color: rgba(128, 128, 128, 0.486);
    z-index: 9999;
}

.showModal .header {
    color: rgba(48, 48, 231, 0.736);
}

.showModal .label {
    font-weight: bold;
    color: rgba(48, 48, 231, 0.736);
}

.showModal .close {
    margin: auto;
}
/* .modal .btn-close{
position: relative;
right: 60%;
} */
/* ///////////// */
.Modal {
    height: 100vh;
        /* z-index: 8888; */
}

.Modal .input {
    color: blue;
    width: 100% !important;
    padding-bottom: 10px;
}
